*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css */


.navbar{
    /* border: 1px solid red; */
    height: 4rem;
    position: relative;
    display: flex;
    background-color: rgb(7, 6, 6);
}

.navbar .firstDiv{
    /* border: 1px solid blue; */
    width: 45%;
    height: 100%;
    display: flex;
    gap: 0.5rem;
   
}
.firDiv1 img{
    width: 100%;
    height: 100%;
}
.firstDiv .firDiv1{
    /* border: 1px solid rgb(12, 220, 235); */
    width: 9%;
    height: 75%;
    align-self: center;
    margin-left: 1rem;

}


.firstDiv .firDiv2{
    width: 100%;
    /* border: 1px solid rgb(34, 167, 34); */
    height: 80%;
    align-self: center;
    display: flex;
   
    gap: 0.5rem;
}
.firDiv2 .box{
    /* border: 1px solid whitesmoke; */
    width: 10%;
    background-color: rgb(39, 24, 241);
    animation: shaky 1s linear infinite ;
    /* transition: all 2s linear; */
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
    border-radius: 50%;

}
@keyframes shaky{
    0%{
        transform: rotate(10deg);
        box-shadow: 0px 0px 10px white;
        /* background-color: #f05d08; */
    

    }
    50%{
        transform: rotate(-10deg);
        /* background-color: green; */


    }
    100%{
        transform: rotate(10deg);
        /* background-color: blue; */
        /* box-shadow: 0px 0px 10px rgb(5, 5, 5); */
    }
}
.navbar .thDiv{
    /* border: 1px solid rgb(80, 241, 16); */
    position: absolute;
    width: 25%;
    height: 100%;
    right: 0.5rem; 
}

.thDiv .hello{
    color: rgb(245, 246, 250);
    position: absolute;
    left: 3rem;
    /* top: rem; */
    font-size: 2.6rem;

}

.music-equalizer {
    display: flex;
    position: absolute;
    top: 1rem;
    gap: 4px;
    /* border: 1px solid white; */
}
.music-equalizer span {
    /* border: 1px solid gold; */
    width: 6px;
    height: 30px;
    background: #f05d08;
    border-radius: 2px;
    animation: wave 0.8s infinite ease-in-out;
}
.music-equalizer span:nth-child(5) { animation-delay: 0.1s; }
.music-equalizer span:nth-child(4) { animation-delay: 0.2s; }
.music-equalizer span:nth-child(3) { animation-delay: 0.3s; }
.music-equalizer span:nth-child(2) { animation-delay: 0.4s; }

@keyframes wave {
    0% { transform: scaleY(0.3); }
    50% { transform: scaleY(1.4); }
    100% { transform: scaleY(0.3); }
}
.music-equalizer2 {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    gap: 4px;
    /* border: 1px solid white; */
}
.music-equalizer2 span {
    /* border: 1px solid gold; */
    width: 6px;
    height: 30px;
    background: #f05d08;
    border-radius: 2px;
    animation: wave 0.8s infinite ease-in-out;
}
.music-equalizer2 span:nth-child(2) { animation-delay: 0.1s; }
.music-equalizer2 span:nth-child(3) { animation-delay: 0.2s; }
.music-equalizer2 span:nth-child(4) { animation-delay: 0.3s; }
.music-equalizer2 span:nth-child(5) { animation-delay: 0.4s; }




/* body css */




.song{
    display: flex;
    position: relative;

}
body{
    background-color: black;
}
.Aside{
    /* border: 1px solid rgb(248, 245, 245); */
    margin-top: 0.5rem;
    width: 25%;
    height: 36rem;
    position: absolute;
    left: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(11, 11, 58, 0.438);


}
.Aside .aside1{
    /* border: 1px solid red; */
    height: 4rem;
    border-radius: 1rem 1rem 0rem 0rem;
    position: relative;
    display: flex;
    color: white;
    align-items: center;

    
}
.aside1 p{
    font-size: 1rem;
    margin-left: 1rem;
}
.aside1 .asideIcons{
    /* border: 1px solid blue; */
    width: 35%;
    height: 70%;
    position: absolute;
    right: 1rem;
    align-self: center;
    align-content: center;
    

}
.asideIcons i{
    color: grey;
    font-size: 1.5rem;
   background-color: rgba(11, 11, 58, 0.438);

    border-radius: 50%;
    padding: 0.2rem; 
    margin-left: 0.5rem;
}
.asideIcons i:hover{
    color: white;
    cursor: pointer;
}
.artisDiv{
    color: white;
    /* border: 1px solid palegreen; */
    width: 20%;
    text-align: center;
    padding: 1%;
    margin: 0rem 1.5rem;
     background-color: rgba(94, 94, 121, 0.247);
     border-radius: 1rem;
}

.SingerDiv{
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 84%;
    border-radius: 0rem 0rem 1rem 1rem;
    overflow: scroll;
      background-color: rgba(7, 7, 36, 0.158);
}
.artisDiv:hover{
    background-color: rgb(56, 56, 66);
}
.SingerDiv .div1{
    /* border: 1px solid gold; */
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content:space-between;
    margin-top: 1%;
}
.div1 .div11{
    /* border: 1px solid red; */
    width: 30%;
    position: relative;
    color: gray;
    display: flex;
    cursor: pointer;
    
}

.div11 i{
    color: gray;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    position: absolute;
    top: 0.3rem;
    
}
.div11 i:hover{
    color: white;
}
.div11 .iconbar{
    /* border: 1px solid blue; */
    position: absolute;
    width: 30%;
    right: 1.5rem;
    color: gray;
}

.div11:hover{
    color: white;

}
.div11 .iconbar i:hover{
    color: white;
}

.div2{
    /* border: 1px solid red; */
    width: 100%;
    height: 4rem;
    position: relative;
    display: flex;
    

}
.div2 .singimg{
    /* border: 1px solid yellowgreen; */
    width: 15%;
    height: 75%;
    position: absolute;
    align-self: center;
    left: 1rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.singimg img{
    width: 100%;
}
.div2 h4{
    position: absolute;
    color: rgb(240, 146, 6);
    left: 5rem;
    top: 0.3rem;
}
.div2 p{
    color: white;
    bottom: 0.5rem;
    position: absolute;
    left: 5rem;
}
.div2 i{
    font-size: 1.5rem;
    position: absolute;
    top: 1.2rem;
    left: 1.8rem;
    display: none;
}
.div2:hover{
    background-color: rgba(49, 49, 51, 0.459);
    cursor:grabbing;

}



.mainDiv{
    border: 1px solid rgb(1, 37, 240);
    height: 36rem;
    width: 73%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 1rem;
     background-color: rgba(11, 11, 58, 0.438);
}

.mainDiv .mainDiv1{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}

.mainDiv1 .mainCarts{
    width: 20%;
    border: 1px solid blue;
    height: 40%;
    box-shadow: 0px 0px 15px black;
    position: relative;
}
.mainCarts:hover{
    border: 5px solid blue;


}

.mainCarts .mainCarts2{
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(10px);
    display: none;

}
.mainCarts2 .iconDiv{
    border: 1px solid red;
    position: absolute;
    width: 25%;
    height: 8vh;
    bottom: 1rem;
    right: 2rem;
    background-color: black;
    
}
.mainCarts2:hover{
    display: block;
}




